html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 125%;
}

.wrapper {
  max-width: 1024px;
  width: 80%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #ffffff;
}

img {
  width: 100%;
  display: block;
}

.boxShadow {
  -webkit-box-shadow: -20px 20px #50e3c2;
  box-shadow: -20px 20px #50e3c2;
}

.boxShadowRight {
  -webkit-box-shadow: 20px 20px #50e3c2;
  box-shadow: 20px 20px #50e3c2;
}

h1 {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 3rem;
  line-height: 2.9rem;
  letter-spacing: 0.45rem;
  color: #ffffff;
}

h2 {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 2.9rem;
  letter-spacing: 0.19rem;
  color: #0c5f4c;
  margin: 0;
}

p {
  font-family: "Lato", sans-serif;
  font-weight: "";
  font-size: 1rem;
  line-height: 1.6rem;
  letter-spacing: 0.1rem;
  margin: 0 0 30px 0;
}

nav a {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.45rem;
  letter-spacing: 0.05rem;
  text-align: center;
}

nav a:hover {
  color: #50e3c2;
}

.logo a, .button {
  font-family: "Playfair Display", serif;
  font-weight: 900i;
}

.logo a:focus, .button:focus {
  border: 2px dotted #ffffff;
}

.button {
  font-family: "Playfair Display", serif;
  font-weight: "";
  font-size: 1rem;
  line-height: 1.6rem;
  letter-spacing: 0.05rem;
  text-align: center;
  text-transform: uppercase;
  background: #063974;
  padding: 5px 10px;
}

.button:hover, .button:active {
  -webkit-box-shadow: 5px 5px #50e3c2;
  box-shadow: 5px 5px #50e3c2;
}

header {
  height: 100vh;
  position: relative;
  padding-top: 1px;
  background-size: 900px;
}

header .wrapper {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

header h1 {
  position: relative;
  top: 140px;
  z-index: 999;
}

.headerBox {
  position: absolute;
  top: 30%;
  left: 0;
  width: 48%;
  z-index: 99;
}

.skip {
  position: absolute;
  left: -1000px;
  top: 100px;
  font-weight: 300;
  z-index: 999;
  width: 20%;
  padding: 5px;
}

.skip:focus {
  left: 0;
}

.navBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  margin: 5px 0;
  height: 65px;
}

.navBar .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.navBar .logo a {
  color: #50e3c2;
  text-transform: uppercase;
  font-size: 1.7rem;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

nav li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  text-align: center;
}

nav li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -ms-flex-item-align: center;
  align-self: center;
}

.hamburgerMenu {
  display: none;
}

.toggle {
  display: none;
}

form {
  padding: 7%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 4fr 1fr;
  grid-template-rows: 1fr 4fr 1fr;
  grid-gap: 20px 40px;
}

/* visuallyHidden is code we used in class to hide the lable */
.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.formItemOne {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
}

.formItemTwo {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
}

.formItemThree {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/ 3;
}

.formItemThree textarea {
  padding: 10px;
  border: 1px solid #50e3c2;
  width: 100%;
  height: 100%;
}

.formItemFour {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
  color: #ffffff;
}

.formItemOne input[type="text"] {
  border: none;
  border-bottom: 1px solid #50e3c2;
  width: 100%;
  height: 100%;
  padding-left: 10px;
}

.formItemTwo input[type="email"] {
  border: none;
  border-bottom: 1px solid #50e3c2;
  width: 100%;
  height: 100%;
  padding-left: 10px;
}

footer {
  background: #000000;
  padding: 5px 0;
}

footer .wrapper {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

footer .wrapper p {
  color: #ffffff;
  margin: 0;
  font-size: 1rem;
}

header.home {
  position: relative;
  background: url("../../assets/homeImage1.jpg");
  background-repeat: no-repeat;
}

header.home .wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

header.home h1 {
  position: relative;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  top: 250px;
  left: 150px;
  font-family: "Lato", sans-serif;
  font-weight: "";
  font-size: 2.5rem;
  line-height: 3.3rem;
  letter-spacing: 0.33rem;
  text-transform: lowercase;
  color: #0c5f4c;
}

header.home h1 span {
  font-family: "Playfair Display", serif;
  font-weight: 900i;
  font-size: 4rem;
  line-height: "";
  letter-spacing: normal;
  text-transform: uppercase;
  color: #063974;
  display: block;
}

.visitGuyana {
  background: #fafffe;
}

.visitGuyana .wrapper {
  margin: 10% auto;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.visitGuyana .wrapper .visitGuyanaText {
  width: 70%;
}

.visitGuyana .wrapper .visitGuyanaImage {
  width: 20%;
}

.houseGallary {
  padding: 8% 0;
  background: #d2f9f1;
}

.houseGallary .wrapper {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.houseGallary .wrapper .gallaryImage {
  width: 30%;
}

.infoSection {
  background: #fafffe;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 8% auto;
}

.infoSection .wrapper {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.infoSection .wrapper .infoColumn {
  width: 48%;
}

.infoSection .wrapper .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.infoSection .wrapper .card .cardText {
  width: 85%;
}

.infoSection .wrapper .card .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: #50e3c2;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  color: #ffffff;
  font-size: 1.5rem;
  margin-top: 10px;
}

.locationAndPlan {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background: #d2f9f1;
  padding: 8% 0;
}

.locationAndPlan .locationAndPlanColumn {
  width: 43%;
}

.locationAndPlan .locationAndPlanColumn .locationAndPlanType {
  padding: 32px 0;
  width: 75%;
}

.locationAndPlan .location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.locationAndPlan .location .locationAndPlanType {
  margin-top: 40px;
  text-align: right;
  -ms-flex-item-align: end;
  align-self: flex-end;
}

.locationAndPlan .plan {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
}

.locationAndPlan .plan .locationAndPlanType {
  margin-bottom: 40px;
}

.bannerSection {
  background: url("/assets/bannerImage.jpg");
  background-size: cover;
  height: 40vh;
}

.freeTripSection {
  background: #fafffe;
}

.freeTripSection .wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
  padding: 10%;
}

.freeTripSection .wrapper a {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  width: 300px;
}

.wrapper {
  max-width: 1024px;
  width: 80%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header.blogHome {
  background: url("/assets/blogImage1.jpg");
  background-repeat: no-repeat;
}

header.blogHome .blogBox {
  width: 55%;
  top: 40%;
}

.blogContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  background: #fafffe;
}

.blogSection {
  width: 55%;
}

.blogSection .blogStoryText {
  padding: 35% 40px 40px 40px;
}

.date {
  color: #063974;
}

.date span {
  font-weight: 700;
  font-style: italic;
}

.blogSection.commentSection {
  padding: 40px;
  width: 100%;
}

.blogSection.commentSection h3 {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-size: 1.25rem;
  line-height: "";
  letter-spacing: "";
}

.blogSection.commentSection .post {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.blogSection.commentSection .post .userProfileImage {
  width: 10%;
}

.blogSection.commentSection .post .postText {
  width: 85%;
}

.blogSection.commentSection .post .postText .dateAndByUser {
  color: #063974;
  font-weight: 700;
  margin: 0 0 2px 0;
  line-height: .8rem;
}

aside {
  width: 20%;
  padding: 10px;
  background: #ffffff;
  height: 550px;
  margin-top: 8%;
  font-size: .75rem;
}

aside h4 {
  font-family: "Lato", sans-serif;
  color: #063974;
}

aside p {
  font-size: .75rem;
  line-height: 1.15rem;
}

aside p a {
  color: #2c2c2c;
  display: block;
}

aside .sideBar ul {
  padding: 0;
  font-family: "Lato", sans-serif;
}

aside .sideBar ul li::before {
  content: "\2022";
  color: #50e3c2;
  display: inline-block;
  width: 5px;
  margin-right: 10px;
}

header.contactHome {
  background: url("/assets/contactImage1.jpg");
  background-repeat: no-repeat;
}

.contactArea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background: #fafffe;
}

.contactBox {
  top: 40%;
  width: 55%;
  background: #ffffff;
}

.contactInformation {
  -ms-flex-item-align: end;
  align-self: flex-end;
  width: 25%;
  margin: 8% 0;
}

.contactInformation .pEmail {
  margin: 20px 0;
  font-weight: 700;
}

.contactInformation div p {
  margin: 5px 0;
}

.socialMediaLinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  width: 50%;
}

.socialMediaLinks a {
  color: #2c2c2c;
  font-size: 1.25rem;
}

.socialMediaLinks a:hover {
  color: #50e3c2;
}

@media (max-width: 1095px) {
  .wrapper {
    width: 90%;
  }
  .boxShadow {
    -webkit-box-shadow: -10px 10px #50e3c2;
    box-shadow: -10px 10px #50e3c2;
  }
  .boxShadowRight {
    -webkit-box-shadow: 10px 10px #50e3c2;
    box-shadow: 10px 10px #50e3c2;
  }
  h1 {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-size: 4rem;
    line-height: "";
    letter-spacing: 0.3rem;
  }
  h2 {
    margin-top: 8%;
    letter-spacing: .05rem;
    line-height: 1.6rem;
  }
  p {
    font-family: "Lato", sans-serif;
    font-weight: "";
    font-size: 0.9rem;
    line-height: 1.3rem;
    letter-spacing: 0.1rem;
    margin: 10px 0 30px 0;
  }
  .button {
    font-family: "Playfair Display", serif;
    font-weight: "";
    font-size: 0.9rem;
    line-height: "";
    letter-spacing: "";
    padding: 7px 12px;
  }
}

@media (max-width: 700px) {
  h2 {
    margin: 8% 0 9% 0;
    letter-spacing: .05rem;
    line-height: 1.6rem;
  }
  .boxShadow {
    -webkit-box-shadow: 0px 0px;
    box-shadow: 0px 0px;
  }
  .boxShadowRight {
    -webkit-box-shadow: 0px 0px;
    box-shadow: 0px 0px;
  }
}

@media (max-width: 700px) {
  .navBar {
    border: 1px solid blue;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 5px auto;
    height: 65px;
    z-index: 9999;
  }
  .navBar .logo {
    border: 1px solid orange;
  }
  .navBar .logo a {
    color: #50e3c2;
    text-transform: uppercase;
    font-size: 1.7rem;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }
  nav {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
  }
  nav ul {
    border: 1px solid red;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 0;
    margin: 0;
  }
  nav li {
    border: 1px solid red;
  }
  nav li a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -ms-flex-item-align: center;
    align-self: center;
  }
  .toggle {
    display: block;
    color: #fff;
    font-size: 1.5rem;
  }
  .hamburgerMenu:checked ~ nav {
    display: block;
  }
}

@media (max-width: 700px) {
  form {
    padding: 7%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 1fr 4fr 1fr;
    grid-template-rows: 1fr 1fr 4fr 1fr;
    grid-gap: 20px 0;
  }
  .formItemOne {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
  }
  .formItemTwo {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/ 2;
  }
  .formItemThree {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/ 3;
  }
  .formItemThree textarea {
    padding: 10px;
    border: 1px solid #50e3c2;
    width: 100%;
    height: 100%;
  }
  .formItemFour {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / 3;
    color: #ffffff;
  }
  .formItemOne input[type="text"] {
    border: none;
    border-bottom: 1px solid #50e3c2;
    width: 100%;
    height: 100%;
    padding-left: 10px;
  }
  .formItemTwo input[type="email"] {
    border: none;
    border-bottom: 1px solid #50e3c2;
    width: 100%;
    height: 100%;
    padding-left: 10px;
  }
}

@media (max-width: 700px) {
  footer .wrapper p {
    font-size: .7rem;
  }
}

@media (max-width: 1095px) {
  .headerBoxIndex {
    display: none;
  }
  .visitGuyana .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .visitGuyana .wrapper .visitGuyanaText {
    margin-top: 5%;
    text-align: center;
    width: 100%;
  }
  .visitGuyana .wrapper .visitGuyanaImage {
    width: 80%;
  }
  .infoSection .wrapper .infoColumn {
    width: 100%;
  }
  .infoSection .wrapper .card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .infoSection .wrapper .card .cardText {
    width: 90%;
  }
  .infoSection .wrapper .card .icon {
    margin-top: 55px;
  }
  .locationAndPlan {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 8% 0 4% 0;
  }
  .locationAndPlan .locationAndPlanColumn {
    width: 100%;
  }
  .locationAndPlan .locationAndPlanImage {
    margin: 0 auto;
    width: 80%;
  }
  .locationAndPlan .location {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .locationAndPlan .location .locationAndPlanType {
    margin-top: 40px;
    text-align: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }
  .locationAndPlan .plan {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-top: 60px;
  }
  .locationAndPlan .plan .locationAndPlanType {
    text-align: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    margin-top: 40px;
  }
  .freeTripSection .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
  }
}

@media (max-width: 700px) {
  header {
    height: 100vh;
    position: relative;
    padding-top: 1px;
    background-size: 900px;
  }
  header .wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  header h1 {
    position: relative;
    top: 60%;
    z-index: 999;
  }
  .infoSection .wrapper .infoColumn {
    width: 100%;
  }
  .infoSection .wrapper .card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .infoSection .wrapper .card .cardText {
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    text-align: center;
    width: 100%;
  }
  .infoSection .wrapper .card .icon {
    margin-top: 55px;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }
  .locationAndPlan {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 8% 0 4% 0;
  }
  .locationAndPlan .locationAndPlanColumn {
    width: 100%;
  }
  .locationAndPlan .locationAndPlanImage {
    margin: 0 auto;
    width: 80%;
  }
  .locationAndPlan .location {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .locationAndPlan .location .locationAndPlanType {
    margin-top: 40px;
    text-align: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }
  .locationAndPlan .plan {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-top: 60px;
  }
  .locationAndPlan .plan .locationAndPlanType {
    text-align: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    margin-top: 40px;
  }
  .freeTripSection .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
  }
}

@media (max-width: 400px) {
  .houseGallary {
    padding: 8% 0;
    background: #d2f9f1;
  }
  .houseGallary .wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .houseGallary .wrapper .gallaryImage {
    margin: 10px auto;
    width: 90%;
  }
}

@media (max-width: 1095px) {
  .blogBox {
    display: none;
  }
  .blogContent {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .blogSection {
    width: 100%;
  }
  .blogSection .blogStoryText {
    padding: 0 40px;
  }
  .date {
    color: #063974;
  }
  .date span {
    font-weight: 700;
    font-style: italic;
  }
  .blogSection.commentSection {
    padding: 40px;
    width: 100%;
  }
  .blogSection.commentSection h3 {
    font-family: "Lato", sans-serif;
    font-weight: 900;
    font-size: 1.25rem;
    line-height: "";
    letter-spacing: "";
  }
  .blogSection.commentSection .post {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 30px 0;
    border-bottom: 2px solid #50e3c2;
  }
  .blogSection.commentSection .post .userProfileImage {
    width: 15%;
    -webkit-box-shadow: 3px 3px #50e3c2;
    box-shadow: 3px 3px #50e3c2;
  }
  .blogSection.commentSection .post .postText {
    margin-top: 20px;
    width: 100%;
  }
  .blogSection.commentSection .post .postText .dateAndByUser {
    color: #063974;
    font-weight: 700;
    margin: 0 0 2px 0;
    line-height: 1rem;
  }
  aside {
    width: 100%;
    padding: 40px;
    height: 300px;
    margin: 10px 0 50px 0;
  }
  aside .sideBar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
  }
  aside .sideBar .sideBarImage {
    display: none;
  }
  aside .sideBar .sideBarText {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
  }
  .boxShadowRight {
    -webkit-box-shadow: 0px 0px;
    box-shadow: 0px 0px;
  }
}

@media (max-width: 1095px) {
  .contactArea .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    border: 1px solid red;
  }
  .contactBox {
    width: 100%;
    border: 1px solid red;
  }
  .contactInformation {
    text-align: center;
    width: 100%;
    margin: 8% 0;
  }
  .contactInformation .pEmail {
    margin: 20px 0;
    font-weight: 700;
  }
  .contactInformation div p {
    margin: 5px 0;
  }
  .socialMediaLinks {
    width: 100%;
    border: 1px SOLID red;
  }
}
