html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 90%;
}

.wrapper {
  max-width: 1024px;
  width: 80%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #ffffff;
}

img {
  width: 100%;
  display: block;
}

.boxShadow {
  -webkit-box-shadow: -20px 20px #50e3c2;
  box-shadow: -20px 20px #50e3c2;
}

.boxShadowRight {
  -webkit-box-shadow: 20px 20px #50e3c2;
  box-shadow: 20px 20px #50e3c2;
}

h1 {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 5.4rem;
  line-height: 3.6rem;
  letter-spacing: 0.6rem;
  color: #ffffff;
}

h2 {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 2.2rem;
  line-height: 3.6rem;
  letter-spacing: 0.2rem;
  color: #0c5f4c;
  margin: 0;
}

p {
  margin: 0 0 30px 0;
  font-family: "Lato", sans-serif;
  font-size: 1.25rem;
  line-height: 2rem;
  letter-spacing: 0.12rem;
}

nav a {
  font-family: "Lato", sans-serif;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.8rem;
  letter-spacing: 0.06rem;
  text-align: center;
}

nav a:hover {
  color: #50e3c2;
}

.logo a, .button {
  font-family: "Playfair Display", serif;
  font-weight: 900i;
}

.button {
  font-size: 1.25rem;
  line-height: 2rem;
  letter-spacing: 0.06rem;
  text-align: center;
  text-transform: uppercase;
  background: #063974;
  padding: 5px 10px;
}

.button:hover, .button:active {
  -webkit-box-shadow: 5px 5px #50e3c2;
  box-shadow: 5px 5px #50e3c2;
}

header {
  height: 100vh;
  position: relative;
  padding-top: 1px;
}

header .wrapper {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

header h1 {
  margin-top: 30%;
  z-index: 999;
}

.headerBox {
  position: absolute;
  top: 35%;
  left: 0;
  width: 48%;
  z-index: 99;
}

.skip {
  position: absolute;
  left: -1000px;
  top: 100px;
  font-weight: 300;
  z-index: 999;
  width: 20%;
  padding: 5px;
}

.skip:focus {
  left: 0;
}

.navBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  margin: 5px 0;
  height: 65px;
  border: 1px dotted #fff;
}

.navBar .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.navBar .logo a {
  color: #50e3c2;
  text-transform: uppercase;
  font-size: 2.16rem;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.navBar nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.navBar nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.navBar nav li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  display: inline-block;
  text-align: center;
}

.navBar nav li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -ms-flex-item-align: center;
  align-self: center;
}

form {
  padding: 7%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 25% 70% 5%;
  grid-gap: 20px 40px;
  height: 300px;
}

/* visuallyHidden is code we used in class to hide the lable */
.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.formItemOne {
  border: 1px solid #000;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
}

.formItemTwo {
  border: 1px solid #000;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
}

.formItemThree {
  border: 1px solid #000;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/ 3;
}

.formItemThree input[type="text"] {
  border: 1px solid #50e3c2;
  width: 100%;
  height: 100%;
}

.formItemFour {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
  color: #ffffff;
}

.formItemOne input[type="text"] {
  border: none;
  border-bottom: 1px solid #50e3c2;
  width: 100%;
  height: 50%;
}

.formItemTwo input[type="email"] {
  border: none;
  border-bottom: 1px solid #50e3c2;
  width: 100%;
  height: 50%;
}

footer {
  background: #000000;
  padding: 5px 0;
}

footer .wrapper {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

footer .wrapper p {
  color: #ffffff;
  margin: 0;
}

header#home {
  background: url("../../assets/homeImage1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

header#home .wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

header#home h1 {
  font-size: 3.8rem;
  letter-spacing: 0.4rem;
  line-height: 5.2rem;
  text-transform: lowercase;
  color: #0c5f4c;
  margin: 25% 0 0 30%;
}

header#home h1 span {
  font-family: "Playfair Display", serif;
  font-size: 6.9rem;
  font-weight: 900i;
  letter-spacing: normal;
  text-transform: uppercase;
  color: #063974;
}

.visitGuyana {
  background: #fafffe;
}

.visitGuyana .wrapper {
  margin: 10% auto;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.visitGuyana .wrapper .visitGuyanaText {
  width: 70%;
}

.visitGuyana .wrapper .visitGuyanaImage {
  width: 20%;
}

.houseGallary {
  padding: 8% 0;
  background: #d2f9f1;
}

.houseGallary .wrapper {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.houseGallary .wrapper .gallaryImage {
  width: 30%;
}

.infoSection {
  background: #fafffe;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 8% auto;
}

.infoSection .infoColumn {
  width: 48%;
}

.infoSection .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.infoSection .card .cardText {
  width: 85%;
}

.infoSection .card .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: #50e3c2;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  color: #ffffff;
  font-size: 1.5rem;
}

.locationAndPlan {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background: #d2f9f1;
  padding: 8% 0;
}

.locationAndPlan .locationAndPlanColumn {
  width: 43%;
}

.locationAndPlan .locationAndPlanColumn .locationAndPlanType {
  padding: 32px 0;
  width: 75%;
}

.locationAndPlan .location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.locationAndPlan .location .locationAndPlanType {
  text-align: right;
  -ms-flex-item-align: end;
  align-self: flex-end;
}

.locationAndPlan .plan {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
}

.locationAndPlan .plan .locationAndPlanType {
  margin-bottom: 40px;
}

.bannerSection {
  background: url("/assets/bannerImage.jpg");
  background-size: cover;
  height: 40vh;
}

.freeTripSection {
  background: #fafffe;
}

.freeTripSection .wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
  padding: 10%;
}

.freeTripSection .wrapper a {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  width: 300px;
}

.wrapper {
  max-width: 1024px;
  width: 80%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header#blogHome {
  background: url("/assets/blogImage1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

header#blogHome .blogBox {
  width: 55%;
  top: 65%;
}

.blogContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background: #fafffe;
}

.blogSection {
  width: 55%;
}

.blogSection .blogStoryText {
  padding: 35% 40px 40px 40px;
}

.blogSection .blogStoryText .date {
  color: #063974;
}

.blogSection .blogStoryText .date span {
  font-weight: 700;
  font-style: italic;
}

.blogSection.commentSection {
  padding: 40px;
  width: 100%;
}

.blogSection.commentSection h3 {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-size: 1.5rem;
}

.blogSection.commentSection .post {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.blogSection.commentSection .post .userProfileImage {
  width: 10%;
}

.blogSection.commentSection .post .postText {
  width: 85%;
}

.blogSection.commentSection .post .postText .dateAndByUser {
  color: #063974;
  font-weight: 700;
  margin: 0 0 2px 0;
  line-height: 1rem;
}

aside {
  border: 1px solid red;
  width: 20%;
  padding: 10px;
  background: #ffffff;
  height: 600px;
  margin-top: 8%;
}

aside h4 {
  font-family: "Lato", sans-serif;
  color: #063974;
}

header#ContactHome {
  background: url("/assets/contactImage1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.contactArea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background: #fafffe;
}

.contactBox {
  top: 75%;
  width: 55%;
  background: #ffffff;
}

.contactInformation {
  -ms-flex-item-align: end;
  align-self: flex-end;
  width: 30%;
  margin: 8% 0;
}

.contactInformation .pEmail {
  margin: 20px 0;
  font-weight: 700;
}

.contactInformation div p {
  margin: 5px 0;
}
