// varibles go here

//fonts
$primaryFont:'Lato', sans-serif;
$secondaryFont:'Playfair Display', serif;

//colors
$primaryColor: #50e3c2;
$secondaryColor: #063974;
$headerColor: #0c5f4c;
$textColor: #2c2c2c;
$primaryBackgroundColor: #d2f9f1;
$secondaryBackgroundColor: #fafffe;


// mix ins go here
@mixin flexGrow {
    display: flex;
    flex-grow: 1;
}//flexgrow

@mixin spaceBetween {
    display:flex;
    justify-content: space-between; 
}//spaceBetween

//font styles
@mixin font ($font, $weight, $size, $lHeight, $spaceing){
    font-family: $font;
    font-weight: $weight;
    font-size: $size;
    line-height: $lHeight;
    letter-spacing: $spaceing;
}//font


//background setup
@mixin background($url){
    background: $url;
    background-repeat: no-repeat;
    background-size: cover;
}//background







