// varibles go here

//fonts
$primaryFont:'Lato', sans-serif;
$secondayFont:'Playfair Display', serif;

//colors
$primaryColor: #50e3c2;
$secondaryColor: #063974;
$textColor: #2c2c2c;
$primaryBackgroundColor: #d2f9f1;
$secondaryBackgroundColor: #fafffe;


// mix ins go here










