.wrapper{
    max-width: 1024px;
    width: 80%;
    margin: 0 auto;
    display: flex;
}//wrapper


///////////////////////////////////////
// blogPage sectionOne bloghome

header.blogHome{
    @include background(url("/assets/blogImage1.jpg"));
    .blogBox{
        width: 55%;
        top: 40%;
    }//blogBox
}//header .blogHome

///////////////////////////////////////
// blogPage  main starts

.blogContent{
    @include spaceBetween;
    flex-direction: row;
    background: $secondaryBackgroundColor;
}//blogContent

///////////////////////////////////////
//blogSection

.blogSection{
    width: 55%;
    .blogStoryText{
        padding: 35% 40px 40px 40px;
    }//blogStorytext
}//blogSection

.date{
    color: $secondaryColor;
    span{
        font-weight: 700;
        font-style: italic;
    }//span
}//date

///////////////////////////////////////
//commentSection

.blogSection.commentSection{
    padding: 40px;
    width:100%;
    h3{
        @include font ($primaryFont, 900, 1.25rem, "", "")
    }//h3
}//commentSection

.post{
    @include spaceBetween;
    flex-direction: row;
    .userProfileImage{
        width: 10%;
    }//userProfileImage
    .postText{
        width: 85%;
        .dateAndByUser{
            color: $secondaryColor;
            font-weight: 700;
            margin: 0 0 2px 0;
            line-height: .8rem;//16px
        }//dateAndByUser
    }//postText
}//post

///////////////////////////////////////
//aside
aside{
    width: 20%;
    padding: 10px;
    background: #ffffff;
    height: 550px;
    margin-top: 8%;
    font-size: .75rem;//15px
    h4{
        font-family: $primaryFont;
        color: $secondaryColor;
    }//h4
    p{
        font-size: .75rem;//15px
        line-height: 1.15rem;//23
        a{
            color: $textColor;
            display: block;
        }//a
    }//p
    .sideBar ul{
        padding: 0;
        font-family: $primaryFont;
        li::before{
            content: "\2022";
            color: $primaryColor;
            display: inline-block; 
            width: 5px;
            margin-right: 10px;
        }//li::before
    }//sideBar ul
}//aside
