.wrapper{
    max-width: 1024px;
    width: 80%;
    margin: 0 auto;
    display: flex;
}//wrapper


///////////////////////////////////////
// blogPage sectionOne bloghome
header#blogHome{
    background: url("/assets/blogImage1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    .blogBox{
        width: 55%;
        top: 65%;
    }//blogBox
}
///////////////////////////////////////
// blogPage  main starts
.blogContent{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: $secondaryBackgroundColor;
}//blogContent


///////////////
//blogSection
.blogSection{
    width: 55%;
    .blogStoryText{
        padding: 35% 40px 40px 40px;
        .date{
            color: $secondaryColor;
            span{
                font-weight: 700;
                font-style: italic;
            }//span
        }//date
    }//blogStorytext
}//blogSection

///////////////
//commentSection
.blogSection.commentSection{
    padding: 40px;
    width:100%;
    h3{
        font-family: $primaryFont;
        font-weight: 900;
        font-size: 1.25rem;//25px
    }//h3
    .post{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .userProfileImage{
            width: 10%;
        }//userProfileImage
        .postText{
            width: 85%;
            .dateAndByUser{
                color: $secondaryColor;
                font-weight: 700;
                margin: 0 0 2px 0;
                line-height: .8rem;//16px
            }//dateAndByUser
        }//postText
    }//post
}//commentSection



///////////////
//aside
aside{
    width: 20%;
    padding: 10px;
    background: #ffffff;
    height: 550px;
    margin-top: 8%;
    font-size: .75rem;//15px
    h4{
        font-family: $primaryFont;
        color: $secondaryColor;
    }//h4
    p{
        font-size: .75rem;//15px
        line-height: 1.15rem;//23
        a{
            color: $textColor;
            display: block;
        }//a
    }//p
    .sideBar ul{
        padding: 0;
         font-family: $primaryFont;
        li::before{
            content: "\2022";
            color: $primaryColor;
            display: inline-block; 
            width: 5px;
            margin-right: 10px;
        }//li::before
    }//sideBar ul
}//aside
