///////////////////////////////////////
// contactPage sectionOne contactHome

header.contactHome{
    @include background (url("/assets/contactImage1.jpg"));
}//header#ContactHome

///////////////////////////////////////
// contactPage  main starts
.contactArea{
    display:flex;
    flex-direction: column;
    background: $secondaryBackgroundColor;
}//contactArea

.contactBox{
    top: 35%;
    width: 55%;
    background:#ffffff;
}//contactBox

/////////////////////////////////////////
//contactInformation

.contactInformation{
    align-self: flex-end;
    width:25%;
    margin: 8% 0;
    .pEmail{
        margin: 20px 0;
        font-weight: 700;
    }//pEmail
    div p{
        margin:5px 0;
    }//div p
}//contactInformation

.socialMediaLinks{
    @include spaceBetween;
    flex-direction: row;
    width: 50%;
    a{
        color: $textColor;
        font-size:  1.25rem;//25px
        &:hover{
            color: $primaryColor;
        }//hover
    }//a
}//socialMediaLinks