///////////////////////////////////////
// blogPage sectionOne bloghome
header#ContactHome{
    background: url("/assets/contactImage1.jpg");
    background-repeat: no-repeat;
    background-size: cover; 
}//header#ContactHome

// contactPage  main starts
.contactArea{
    display:flex;
    flex-direction: column;
    background: $secondaryBackgroundColor;
}//contactArea

.contactBox{
    top: 70%;
    width: 55%;
    background:#ffffff;
}//contactBox

.contactInformation{
    align-self: flex-end;
    width:25%;
    margin: 8% 0;
    .pEmail{
        margin: 20px 0;
        font-weight: 700;
    }//pEmail
    div p{
        margin:5px 0;
    }//div p
}//contactInformation

.socialMediaLinks{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50%;
    a{
        color: $textColor;
        font-size:  1.25rem;//25px
        &:hover{
            color: $primaryColor;
        }//hover
    }//a
}//socialMediaLinks