//Global Styles 

//basic type styles
html{
    font-size: 125%
}

//basic layout styles
.wrapper{
    max-width: 1024px;
    width: 80%;
    margin: 0 auto;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: #ffffff;
}

//basic font styles

// Fonts for later use
// 
// font-family: 'Playfair Display', serif;
//font px / 16 = rem (rounded)


//h1 headings styles
h1{
    font-family: $primaryFont;
    font-weight: 700;//bold
    font-size: 5.4rem;//87px
    line-height: 3.6rem;//58px
    letter-spacing: 0.6rem;//9px
}

h2{
    font-family: $primaryFont;
    font-weight: 700;//bold
    font-size: 2.2rem;//62px
    line-height: 3.6rem;//58px
    letter-spacing: 0.2rem;//3.8px
}

p{
    font-family: $primaryFont;
    font-size: 1.25rem;//20px
    line-height: 2rem;//32px
    letter-spacing: 0.12rem;//2px
}

nav a{
    font-family: $primaryFont;
    font-size: 1.25rem;//20px
    font-weight: 700;//bold
    line-height: 1.8rem;//29px
    letter-spacing: 0.06rem;//1px
    text-align: center;
    &:hover{
        color: $primaryColor
    }


}

.logo a, .button{
    font-family: $secondaryFont;
    font-weight: 900i;//black italic
}



.button{
    font-size: 1.25rem;//20px
    line-height: 2rem;//32px
    letter-spacing: 0.06rem;//1px
    text-align: center;
    background: $secondaryColor;
}



//header styles

header{
    padding-top: 1px;
}
.skip{
    position: absolute;
    left: -1000px;
    top:100px;
    font-weight: 300;
    z-index: 999;
    width: 20%;
    padding: 5px;
    &:focus{
        left: 0;
    }
}


.navBar{
    display: flex;
    margin: 5px 0;
    height: 65px;
    border: 1px dotted #fff;
    .logo{
        @include flexGrow;
        a{
            color: $primaryColor;
            text-transform: uppercase;
            font-size: 2.16rem ;//34.6px
            align-self: center;
        }//logo a
    }//logo
    nav{
       @include flexGrow;
        ul{
            @include flexGrow;
        }//ul
        li{
            @include flexGrow;
            display: inline-block;
            text-align: center;
             a{
                 @include flexGrow;
                 justify-content: space-around;
                 align-self: center;
            }//a
        }//li 
    }//nav
}//navBar
