///////////////////////////////////////

header{
    height: 100vh;
    position: relative;
    padding-top: 1px; 
    background-size: 900px;
    .wrapper{
        flex-direction: row;
    }//wrapper
    h1{
        position: relative;
        top: 60px;
        z-index: 999;
    }//h1
}//header

.headerBox{
    position: absolute;
    top: 30%;
    left: 0;
    width: 48%;
    z-index: 99;
}//headerBox


.skip{
    position: absolute;
    left: -1000px;
    top:100px;
    font-weight: 300;
    z-index: 999;
    width: 20%;
    padding: 5px;
    &:focus{
        left: 0;
    }//focus
}//skip

.navBar{
    display: flex;
    flex-direction: row;
    margin: 5px 0;
    height: 65px;
    .logo{
        @include flexGrow;
        a{
            color: $primaryColor;
            text-transform: uppercase;
            font-size: 1.7rem ;//34.6px
            align-self: center;
        }//logo a
    }//logo
}//navBar

    
 nav{
    @include flexGrow;
    ul{
        @include flexGrow;
    }//ul
    li{
        @include flexGrow;
        text-align: center;
         a{
            @include flexGrow;
            justify-content: space-around;
            align-self: center;
        }//a
    }//li 
}//nav

.hamburgerMenu{
    display: none;
}

.toggle{
    display: none;
}