///////////////////////////////////////
// homePage sectionOne home header

header.home{
    position: relative;
    @include background(url("assets/homeImage1.jpg"));
    .wrapper{
        flex-direction: column;
    }
    h1{
        position: relative;
        align-self: center;
        top: 200px;
        @include font($primaryFont, "", 2.5rem, 3.3rem, 0.33rem);
        text-transform: lowercase;
        color: $headerColor;
        span{
            @include font($secondaryFont, 900i, 4rem, "", normal);
            text-transform: uppercase;
            color: $secondaryColor;
            display: block;
        }//span
    }//h1
}//header.home

///////////////////////////////////////
//homePage  main starts
//homePage  sectionTwo visitGuyanaText

.visitGuyana{
    background: $secondaryBackgroundColor;
    .wrapper{
        padding: 20% 0 10% 0;
        justify-content: space-between;
        align-items: center;
        .visitGuyanaText{
            width: 70%;
        }//visitGuyanatext
        .visitGuyanaImage{
            width: 20%;
        }//visitGuyanaImage
    }//wrapper
}//visitGuyana

///////////////////////////////////////
// homePage  sectionThree houseGallary

.houseGallary { 
    padding: 8% 0;
    background: $primaryBackgroundColor;
    .wrapper{
        justify-content: space-between;
        .gallaryImage{
            width: 30%;
        }//gallaryImage
    }//wrapper
}//houseGallary

///////////////////////////////////////
// homePage  sectionFour infoSection

.infoSection{
    background: $secondaryBackgroundColor;
    display: flex;
    justify-content: space-between;
    margin: 8% auto;
}//infoSection

.infoSection .wrapper{
    flex-wrap: wrap;
    .infoColumn{
        width: 48%;
    }//infoCard
    .card{
        @include spaceBetween;
        .cardText{
            width: 85%;
        }//cardText
        .icon{
            display: flex;
            flex-direction: column;
            justify-content: center;
            background: $primaryColor;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            text-align: center;
            color: #ffffff;
            font-size: 1.5rem;//30px
            margin-top: 10px;
        }//icon
    }//card
}//wrapper

///////////////////////////////////////
//homePage  sectionFive locationAndPlan 

.locationAndPlan{
    @include spaceBetween;
    background: $primaryBackgroundColor;
    padding: 8% 0;
    .locationAndPlanColumn{
        width:43%;
        .locationAndPlanType{
            padding: 32px 0;
            width: 75%;
        }//locationAndPlanType
    }//locationAndPlanColumn
    .location{
        display: flex;
        flex-direction: column;
        .locationAndPlanType{
            margin-top: 40px;
            text-align: right;
            align-self: flex-end;
        }//locationAndPlanType
    }//location
    .plan{
        display: flex;
        flex-direction: column-reverse;
        .locationAndPlanType{
            margin-bottom: 40px;
        }//locationAndPlanType
    }//plan
}//locationAndPlan

///////////////////////////////////////
//homePage  sectionSix bannerSection

.bannerSection{
    background: url("assets/bannerImage.jpg");
    background-size: cover;
    height: 40vh;
}//bannerSection

///////////////////////////////////////
//homePage sectionSeven freeTripSection

.freeTripSection{
    background: $secondaryBackgroundColor;
    .wrapper{
        flex-direction: column;
        text-align: center;
        padding: 10%;
        a{
            align-self: center;
            width: 300px;
        }//a
    }//wrapper
}//freeTripSection