
// homePage sectionOne home

//header
header#home{
    background: url("../../assets/homeImage1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    position: relative;
    h1{
        font-size: 3.8rem;//62px 
        letter-spacing: 0.4rem;//6.7px
        line-height: 5.2rem;//58px
        text-transform: lowercase;
        color: $headerColor;
        margin: 25% 0 0 30%;
        z-index: 999;
        border: 1px dotted #fff;//tbd
        span{
            font-family: $secondaryFont;
            font-size: 6.9rem;//111.2PX
            font-weight: 900i;//black italic
            letter-spacing: normal;
            text-transform: uppercase;
            color: $secondaryColor;
        }//span
    }//h1
}//header#home

.headerBox{
    position: absolute;
    top: 35%;
    left: 0;
    width: 48%;
    z-index: 99;
}//headerBox

//homePage  main starts
//homePage  sectionTwo visitGuyanaText
.visitGuyana{
    background: $secondaryBackgroundColor;
    .wrapper{
        margin: 10% auto;
        justify-content: space-between;
        align-items: center;
        .visitGuyanaText{
            width: 70%;
        }//visitGuyanatext
        .visitGuyanaImage{
            width: 20%;
        }//visitGuyanaImage
    }//wrapper
}//visitGuyana

// homePage  sectionThree houseGallary
.houseGallary { 
    padding: 8% 0;
    background: $primaryBackgroundColor;
    .wrapper{
        justify-content: space-between;
        .gallaryImage{
            width: 30%;
        }//gallaryImage
    }//wrapper
}//houseGallary

// homePage  sectionFour infoSection

.infoSection{
    justify-content: space-between;
    margin: 8% auto;
    .infoColumn{
        width: 48%;
        border: 1px solid red;
    }
    .card{
        display: flex;
        justify-content: space-between;
        .cardText{
            border: 1px solid orange;
            width:85%;
        }//cardText
        .icon{
            display: flex;
            flex-direction: column;
            justify-content: center;
            background: $primaryColor;
            width:50px;
            height: 50px;
            border-radius: 50%;
            text-align: center;
            color: #ffffff;
            font-size: 1.5rem;//62px
            margin-top: 30px;
        }//icon
    }//card
}//infoSection

//homePage  sectionFive locationAndPlan 



