///////////////////////////////////////
//desktop - tablet

@media(max-width:1095px){

    ///////////////////////////////////////
    // homePage sectionOne header

    .headerBoxIndex{
        display: none;
    }//headerBoxIndex

    ///////////////////////////////////////
    //homePage main starts sectionTwo visitGuyanaText
    .visitGuyana{
        .wrapper{
            flex-direction: column-reverse;
            justify-content: flex-start;
            align-items: center;
            flex-wrap: wrap;
            padding: 10% 0;
            .visitGuyanaText{
                margin-top: 5%;
                text-align: center;
                width: 100%;
            }//visitGuyanatext
            .visitGuyanaImage{
                width: 80%;
            }//visitGuyanaImage
        }//wrapper
    }//visitGuyana


    //////////////////////////////////////
    // homePage  sectionFour infoSection

    
    .infoSection .wrapper .infoColumn{
        width: 100%;
        .card{
             @include spaceBetween;
            .cardText{
                width: 90%;
            }//cardText
            .icon{
                 margin-top: 55px;
            }//icon
        }//card
    }//wrapper infoColumninfoSection

    ///////////////////////////////////////
    //homePage  sectionFive locationAndPlan 

    .locationAndPlan{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 8% 0 4% 0;
        .locationAndPlanColumn{
            width:100%;
        }//locationAndPlanColumn
        .locationAndPlanImage{
            margin: 0 auto;
            width: 80%;
        }//locationAndPlanImage
        .location{
            display: flex;
            .locationAndPlanType{
                margin-top: 40px;
                text-align: center;
                align-self: center;
            }//locationAndPlanType
        }//location
        .plan{
            display: flex;
            flex-direction: column;
            margin-top: 60px;
            .locationAndPlanType{
                text-align: center;
                align-self: center;
                margin-top: 40px;
            }//locationAndPlanType
        }//plan
    }//locationAndPlan

    ///////////////////////////////////////
    //homePage sectionSeven freeTripSection
    .freeTripSection{
        .wrapper{
            flex-direction: column;
            text-align: center;
        }//wrapper
    }//freeTripSection

}//1095px

///////////////////////////////////////
//tablet

@media(max-width:700px){

    ///////////////////////////////////////
    // homePage sectionOne header

    header{
        height: 100vh;
        position: relative;
        padding-top: 1px; 
        background-size: 900px;
        .wrapper{
            flex-direction: row;
            .navBar{
                margin: 0;
            }//navBar
        }//wrapper
    }//header.home

    header .wrapper h1{
        @include font($primaryFont, "", 2.5rem, 2.5rem, 0.33rem);
        span{
            @include font($secondaryFont, 900i, 3rem, "", normal);
        }//span
    }//h1

    //////////////////////////////////////
    // homePage  sectionFour infoSection

    
    .infoSection .wrapper .infoColumn{
        width: 100%;
        .card{
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            .cardText{
                align-self: center;
                text-align: center;
                width: 100%;
            }//cardText
            .icon{
                margin-top: 55px;
                align-self: center;
            }//icon
        }//card
     }//infoSection wrapper infoColumn


    ///////////////////////////////////////
    //homePage  sectionFive locationAndPlan 
    .locationAndPlan{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 8% 0 4% 0;
        .locationAndPlanColumn{
            width:100%;
        }//locationAndPlanColumn
        .locationAndPlanImage{
            margin: 0 auto;
            width: 80%;
        }//locationAndPlanImage
        .location{
            display: flex;
            .locationAndPlanType{
                margin-top: 40px;
                text-align: center;
                align-self: center;
            }//locationAndPlanType
        }//location
        .plan{
            display: flex;
            flex-direction: column;
            margin-top: 60px;
            .locationAndPlanType{
                text-align: center;
                align-self: center;
                margin-top: 40px;
            }//locationAndPlanType
        }//plan
    }//locationAndPlan

    ///////////////////////////////////////
    //homePage sectionSeven freeTripSection

    .freeTripSection{
        .wrapper{
            flex-direction: column;
            text-align: center;
        }//wrapper
    }//freeTripSection

}//700px

///////////////////////////////////////
// mobial

@media(max-width:400px){

    ///////////////////////////////////////
    // homePage sectionOne header

    header .wrapper h1{
        @include font($primaryFont, "", 1.5rem, 1.8rem, 0.33rem);
        span{
            @include font($secondaryFont, 900i, 2rem, "", normal);
        }//span
    }//h1

    ///////////////////////////////////////
    // homePage  sectionThree houseGallary
    .houseGallary { 
        padding: 8% 0;
        background: $primaryBackgroundColor;
        .wrapper{
            flex-direction: row;
            flex-wrap: wrap;
            .gallaryImage{ 
                margin: 10px auto;
                width: 90%;
            }//gallaryImage
        }//wrapper
    }//houseGallary

}//400px
