@media(max-width:1095px){
    ///////////////////////////////////////
    // blogPage sectionOne bloghome

    // contactPage  main starts
    .contactArea .wrapper{
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
        border: 1px solid red; 
       
    }//contactArea 
    
    .contactBox{
            top: 500px;
            width: 100%;
            border: 1px solid red;
        }//contactBox

    .contactInformation{
        text-align: center;
        width: 100%;
        margin: 400px 0 8% 0;
        .pEmail{
            margin: 20px 0;
            font-weight: 700;
        }//pEmail
        div p{
            margin:5px 0;
        }//div p
    }//contactInformation

    .socialMediaLinks{
        width: 300px;
        margin: 0 auto;
    }//socialMediaLinks
}