@media(max-width:1095px){
    header .wrapper h1{
        top: 10px;
    }
    .headerBox{
        display: none;
    }
}
@media(max-width: 700px){
    .navBar{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 5px 0;
        height: 65px;
        .logo{
            @include flexGrow;
            a{
                color: $primaryColor;
                text-transform: uppercase;
                font-size: 1.7rem ;//34.6px
                align-self: center;
            }//logo a
        }//logo
    }//navBar
    nav{
        width:100px;
        ul{
            border: 1px solid red;
            flex-direction: column;
        }//ul
        li{
            border: 1px solid red;
            width: 100px;
            a{
                @include flexGrow;
                justify-content: space-around;
                align-self: center;
             }//a
        }//li 
    }//nav
}//media tablet